.container {
    max-width: 500px;
    min-height: 400px;
    background-color: rgb(218, 247, 250);
    margin: 0px auto;
    font-family: Arial, sans-serif;
    font-size: 22px;
    line-height: 1.2;
    color: rgb(32, 18, 18);
    padding: 30px 10px 10px;
}

.container-title{
    margin: 0px 0px 30px 0px;
}
